.cart-products-list{
    padding: 10px;
}

.cart-products-list ul li{
    list-style-type: none;
}

.cart-products-list ul{
    padding: 10px;
}

.cart-product-item__counter input::-webkit-outer-spin-button,
.cart-product-item__counter input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}


.cart-product-item__counter input{
    font-size: 30px;
    text-align: center;
    max-width: 110px;
    color: #00b2a4;
    border:1px solid #00b2a4;
    outline: none;
}


