*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

a{
    text-decoration: none;
}

.main-button{
    font-size: 18px;
    background: #00b2a4;
    outline: none;
    color: white;
    border: 1px solid #00b2a4;
    border-radius: 4px;
    margin-top: 10px;
    padding: 8px;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.main-button:hover{

    background: #00655c;

}

.main-button.nocolor{


    background: rgba(0,0,0,0);

    color: #00b2a4;

}